body {
    background-color: #f7f7ee;
    padding-bottom: 100px;
}

h1 {
    padding: 50px;
    color: #fff;
    background-color: #fb7813;
    font-family: 'Lalezar', cursive;
}

.social-media {
    margin-top: 50px;
    margin-bottom: 40px;
}

.social-media img {
    padding: 50px;
}